@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Form Görüntüleme Uygulaması.</h1>
    <p>Sol üstten kayıt olunup giriş yapıldıktan sonra kullanıcıynın olusturdugu formlar formlarım kısmında,bütün formlar Formlar kısmında bulunur.</a>.</p>
    <br/><br/>
    <p>kullanıcı adı:deneme,şifre:deneme hazır kullanıcıdır.</p>
</div>
